<!DOCTYPE html>
<html>
    <head>
       <title>ALL Project</title>
       <link href="static/home.css" type="text/css" rel="stylesheet">
    </head>
    <body>
    <div id="Title">
        <h1>ALL Project</h1>
    </div>
    <table id="Nav">
        <tr>
           <td onclick="document.location='home2';">Home</td>
            <td onclick="document.location='gravity';">Gravity</td>
            <td onclick="document.location='light';">Light Intesity</td>
            <td onclick="document.location='pressure';">Pressure</td>
            <td onclick="document.location='lineara';">Linear Acceleration</td>
            <td onclick="document.location='gyroscope';">Gyroscope</td>
        </tr>
        
       
    </table>
    <h1 id="sensor">Home>></h1>
    <p style = "padding: 0px 0px 0px 80px">On each of the pages above are readings obtained by the Sensor Node Free App available on the Google Play Store. The data is being streamed from a Samsing Galaxy S7 Edge.</p>
    <p style = "padding: 0px 0px 0px 80px">Data on each graph is displayed based on the most recent readings. Five sensors are available and one can be viewed on each of the pages on this website.</p>
   
  </body>
</html>