<!DOCTYPE html>
<html>
    <head>
       <title>ALL Project</title>
       <link href="static/home.css" type="text/css" rel="stylesheet">
    </head>
    <body>
    <div id="Title">
        <h1>ALL Project</h1>
    </div>
    <table id="Nav">
        <tr>
            <td onclick="document.location='home2';">Home</td>
            <td onclick="document.location='gravity';">Gravity</td>
            <td onclick="document.location='light';">Light Intesity</td>
            <td onclick="document.location='pressure';">Pressure</td>
            <td onclick="document.location='lineara';">Linear Acceleration</td>
            <td onclick="document.location='gyroscope';">Gyroscope</td>

        </tr>
    </table>
    <h1 id='sensor'>Linear 
Acceleration>></h1>
    {{graph}}

    </body>
</html>